<div class="row" style="width:800px;margin:auto;">

  <div class="span8">
    <h2><%= @article.title %></h2>
    <small><%= l @article.published_at, :format => :long %> |
      Autor:
      <%= raw @article.author_list.map { |l| link_to l, author_path(l) }.join(', ') %>
    </small><br />
    <small>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></small>
    <small>Edition: <%= link_to @article.edition.name, admin_edition_path(@article.edition) if @article.edition.present? %></small><br />
  </div>

  <div class="span8">
    <div class="thumbnail">
      <% if @article.avatar.attached? %>
      <%= image_tag @article.avatar.variant(resize: "500x500"), class: "img-polaroid" %>
      <% end %>
    </div>
  </div>
  <div class="span8">
    <div class="page-header"></div>
    <strong><%#= raw @article.preview %></strong>
  </div>
  <div class="span8">
    <%= raw @article.content %>
    <div class="page-header"></div>
  </div>
</div>
