<div class="row" style="width:800px;margin:auto;">
  <%= form_for [:admin, @article] do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home">Titre et Options</a></li>
    <li><a href="#profile">Contenu de l'Article</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <div class="field">
        <br>
        <label>Titre</label>
        <h3><%= f.text_field :title %></h3>
      </div>
      <div class="field">
        <label>Appartient à l'édition</label>
        <%= f.collection_select :edition_id, Edition.find(:all), :id, :name, :prompt => "Choisissez une édition", :include_blank => true %>
        <br><br>
        <label>Date de publication</label>
        <%= f.datetime_select :published_at %>
      </div>
      <div class="span8">
        <div class="field">
            <span>Recommander cet article</span>
            <%= f.check_box :recomend %>
            <span style="margin-right:20px;"></span>
            <span>Réglez cet article visible sur toutes les pages</span>
            <%= f.check_box :sticky %>
        </div>
      </div>
      <div class="field tags">
        <%= f.label :author_tokens, "Auteurs" %>
        <%= f.text_field :author_tokens, data: {load: @article.authors} %><br>
        <%= f.label :tag_tokens, "Etiquettes" %>
        <%= f.text_field :tag_tokens, data: {load: @article.tags} %>
      </div>
      <div class="field">
        <label>Article Avatar</label>
        <%= image_tag(@article.avatar_url(:thumb)) if @article.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>
      <% unless @article.avatar.blank? %>
      <div class="field">
        <label>
          <%= f.check_box :remove_avatar %>
          Retirer avatar
        </label>
      </div>
      <% end %>
    <!--   <div class="field"> -->
        <%#= f.label :preview %>
        <%#= f.cktext_area :preview %>
    <!--   </div> -->
    </div>
    <div class="tab-pane" id="profile">
      <br>
      <div class="field">
        <%= f.label :content %>
        <%= f.cktext_area :content, height: 800 %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
