<div class="span6">
  <span class="dropdown">
    Afficher les articles par
    <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">
      année
      <b class="caret"></b></a>
    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
      <% for art in articles_by_years do %>
      <li><%= link_to art, articles_path(year: art) %></li>
      <% end %>
    </ul>
  </span> |
  <span class="dropdown">
    <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
      editions
      <b class="caret"></b></a>
    <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
      <% for edition in articles_by_edition do %>
        <li><%= link_to edition.name, articles_path(edition: edition.name) %></li>
      <% end %>
    </ul>
  </span>
</div>
<div class="span6">
  <% @articles.each do |article| %>
    <%= image_tag 'divider.gif', class: "article_divider" %>
    <h4><%= link_to article.title, article %></h4>
    <h6>author:
      <%= raw article.author_list.map { |t| link_to t, author_path(t) }.join(', ') %>
    </h6>
    <div class="row">
      <% if article.avatar.present? %>
      <div class="span2">
        <%= link_to (image_tag article.avatar.url(:thumb)), article %>
      </div>
      <% end %>
      <div class="<%= article.avatar.present? ? 'span4' : 'span6' %>">
        <%= sanitize truncate(article.content, omision: "...", length: 700), :tags => %w(h) %><br />
        <h6><%= link_to 'Lire la suite', article %></h6>
      </div>
      <div class="span4"></div>
    </div>
    <h6>
      Étiquettes: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </h6>
<!--     <div><small><strong>views: <%#= article.views %></strong></small></div> -->
    <span class="pull-right"><small><%= l article.published_at, :format => :long %></small></span>
    <span class=""><small>Edition: <%= link_to article.edition.name, articles_path(edition: article.edition.name) if article.edition.present? %></small></span>

  <% end %>
  <%= image_tag 'divider.gif', class: "article_divider" %>
  <%= will_paginate @articles %>
</div>
<%#= link_to 'New Article', new_article_path %>

