<% title 'Courrier de Moldavie- tous les articles' %>
<div id="content">
  <div class="page-container singlepost">
  <% @articles.each do |article| %>

    <h4><%= link_to article.title, article %></h4>
    <%= image_tag 'divider.gif', class: "article_divider" %>
    <h6>
      author:
      <%= raw article.author_list
        .map { |t| link_to t, author_path(t) }
        .join(', ') %>
    </h6>
      <% if article.avatar.present? %>
        <%= link_to (image_tag article.avatar.url(:thumb)), article %>
      <% end %>
      <div style="text-align: justify;">
        <%= (ActionView::Base.full_sanitizer.sanitize(article.content).truncate(700, omission: '...')).html_safe %>
        <br />
        <h6 style="text-align:right;"><%= link_to 'Lire la suite', article %></h6>
      </div>
    <h6>
      Étiquettes:
      <%= raw article.tag_list
        .map { |t| link_to t, tag_path(t) }
        .join(', ') %>
    </h6>
<!--     <div><small><strong>views: <%#= article.views %></strong></small></div> -->
    <span class="pull-right"><small><%= l article.published_at, :format => :long %></small></span>
    <span class=""><small>Edition: <%= link_to article.edition.name, articles_path(edition: article.edition.name) if article.edition.present? %></small></span>
  <br><br><br>
  <% end %>

  <%= will_paginate @articles %>
  </div>
</div>
<%#= link_to 'New Article', new_article_path %>

