<div class="span6">
  <% @articles.each do |article| %>
    <%= image_tag 'divider.gif', class: "article_divider" %>
    <h4><%= link_to article.title, article %></h4>
    <h6>author:
      <%= raw article.author_list.map { |t| link_to t, author_path(t) }.join(', ') %>
    </h6>
    <div class="row">
      <div class="span2">
        <%= link_to (image_tag article.avatar.url(:thumb)), article %>
      </div>
      <div class="span4">
        <%= sanitize truncate(article.content, omision: "...", length: 700), :tags => %w(h) %><br />
        <h6><%= link_to 'Lire la suite', article %></h6>
      </div>
      <div class="span4"></div>
    </div>
    <h6>
      tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </h6>
<!--     <div><small><strong>views: <%#= article.views %></strong></small></div> -->
    <span class="pull-right"><small><%= l article.created_at, :format => :long %></small></span>

  <% end %>
  <%= image_tag 'divider.gif', class: "article_divider" %>
  <%= will_paginate @articles %>
</div>
<%#= link_to 'New Article', new_article_path %>

