<% title "Courrier de Moldavie - #{@article.title}" %>
<style>
  .group2 a {text-decoration:none;}
</style>
<script>
      $(document).ready(function(){
      $(".group2").colorbox({rel:'group2', transition:"fade"});
    });
</script>
<div id="content">
  <div class="page-container singlepost">
    <% if @article.avatar.present? %>
    <div class="single-image">
      <%= image_tag @article.avatar.url(:slide), class: "img-polaroid" %>
    </div>
    <% end %>
    <h1 class="title-post"><%= @article.title %></h1>
    <%= render 'article_attributes' %>
    <%= raw @article.content %>
    <%= render 'disquss' %>
  </div>
  <!-- <div class="page-container"> -->
  <%# if !@related_articles.nil? %>
    <%#= render 'related_articles' %>
  <%# end %>
  <!-- </div> -->
</div>
