<div class="span6">
  <address>
    <strong>Section moldave de l'UPF</strong><br>
      USM, str. Mateevici, 60,<br>
      MD-2009 <br>
      Chisinau, Moldova <br>
    <abbr title="Phone">Telefon:</abbr> +(373) 69050758<br>
      mail: <a href="mailto:sgrossu@gmail.com">sgrossu@gmail.com</a>
  </address>
  <div class="page-header"></div>
  <p class="infoNote">Tous les champs marqués d'une <span class="req">*</span> sont obligatoires. Nous nous engageons à ne jamais vendre ou autrement abuser de votre information.</p>
  <%= form_for :feedback, url: url_for(action: 'feedback') do |f| %>
  <ol>
    <li>
      <label for="name">Nome <span class="req">*</span></label>
      <%= f.text_field :name, class:'span5', placeholder: "Votre nom complet" %>
    </li>
    <li>
      <label for="name">Email <span class="req">*</span></label>
      <%= f.email_field :email, class:'span5', placeholder: "Votre e-mail" %>
    </li>
    <li>
      <label for="name">Phone <span class="req">*</span></label>
      <%= f.phone_field :phone, class:'span5', placeholder: "Votre téléphone" %>
    </li>
    <li>
      <label for="name">Message <span class="req">*</span></label>
      <%= f.text_area :message, class:'span5', placeholder: "Votre message", rows: "5" %>
    </li>
  </ol>
  <div class="blankSeparator"></div>
  <div class="btnLeft">
    <%= f.submit "Envoyer un message", :type => 'submit', :class => 'btn btn-inverse' %>
  </div>
  <br />
  <% end %>
</div>
