<% title "Courrier de Moldavie - contact" %>

<div id="content">
  <address>
    <strong>Section moldave de l'UPF</strong><br>
      USM, str. Mateevici, 60,<br>
      MD-2009 <br>
      Chisinau, Moldova <br>
    <abbr title="Phone">Telefon:</abbr> +(373) 69050758<br>
      mail: <a href="mailto:sgrossu@gmail.com">sgrossu@gmail.com</a>
  </address>
  <div class="page-header"></div>
  <p class="infoNote">Tous les champs marqués d'une <span class="req">*</span> sont obligatoires. Nous nous engageons à ne jamais vendre ou autrement abuser de votre information.</p>
  <div class="contact-form">
    <%= form_for :feedback, url: url_for(action: 'feedback') do |f| %>
    <form>
      <%= f.text_field :name, class:'span5', placeholder: "Votre nom complet" %>
      <%= f.email_field :email, class:'span5', placeholder: "Votre e-mail" %>
      <%= f.phone_field :phone, class:'span5', placeholder: "Votre téléphone" %>
      <%= f.text_area :message, class:'span5', placeholder: "Votre message", rows: "5" %>
    </form>
    <div class="blankSeparator"></div>
      <%= f.submit "Envoyer un message", :type => 'submit', :class => 'btn btn-inverse' %>
    <br />
    <% end %>
  </div>
</div>
