<% title "Courrier de Moldavie - page d'accueil" %>
<div id="content">
  <!-- Slider -->
  <%#= render 'layouts/slider' %>
  <!-- End Slider -->

  <!-- Category Posts -->
  <div class="post-container">
    <div class="left">
      <h2></h2>
      <div class="post-item">
        <% if @last_article.avatar.present? %>
          <%= link_to image_tag(@last_article.avatar.url(:thumb), size: '184x142'), @last_article %>
        <% else %>
          <%= link_to image_tag("nophoto_slider.png", size: '184x142'), @last_article %>
        <% end %>
        <h3><%= link_to @last_article.title, @last_article %></h3>
        <p>
          <%= (ActionView::Base.full_sanitizer
            .sanitize(@last_article.content)
            .truncate(200, omission: '...'))
            .html_safe %>
        </p>
        <div class="post-item-footer">
          <%= link_to 'Lire la suite', @last_article, class: 'more-link' %>
        </div>
      </div>
    </div>

    <div class="right">
      <!-- <h2 data-value="Politics">Other Post</h2> -->
      <ul>
        <% @last_articles.each do |art| %>
        <li>
          <% if art.avatar.present? %>
            <%= link_to image_tag(art.avatar.url(:thumb), size: '184x142'), art %>
          <% else %>
            <%= link_to image_tag("nophoto_slider.png", size: '184x142'), art %>
          <% end %>
          <h3><%= link_to art.title, @last_article %></a></h3>
          <span class="data-post"><%= art.published_at.strftime('%B %d, %Y') %></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- End Category Posts -->

  <!-- Ads -->
  <div class="post-container ads-post-full">
    <%= link_to image_tag('ads-post.jpg'),
      'http://www.presse-francophone.org/',
      target: :blank %>
  </div>
  <!-- End Ads -->

  <!-- jCarousel Post -->
  <div class="carousel-post-container">
    <div class="post-container scroll-post">
      <h2>Social</h2>
      <ul class="carousel-post">
        <% @social_articles.each do |art| %>
        <li class="post-item">
          <% if art.avatar.present? %>
            <%= link_to image_tag(art.avatar.url(:thumb), size: '184x142'), art %>
          <% else %>
            <%= link_to image_tag("nophoto_slider.png", size: '184x142'), art %>
          <% end %>
          <h3><%= link_to art.title, art %></h3>
          <p><%= (ActionView::Base.full_sanitizer.sanitize(art.content).truncate(200, omission: '...')).html_safe %></p>
          <div class="post-item-footer">
            <!-- <a class="comments" href="#">13</a> -->
            <%= link_to 'LIRE LA SUITE', art, class: 'more-link' %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="carousel-post-container">
    <div class="post-container scroll-post">
      <h2>Éditorial</h2>
      <ul class="carousel-post">
        <% @editorial_articles.each do |art| %>
        <li class="post-item">
          <% if art.avatar.present? %>
            <%= link_to image_tag(art.avatar.url(:thumb), size: '184x142'), art %>
          <% else %>
            <%= link_to image_tag("nophoto_slider.png", size: '184x142'), art %>
          <% end %>
          <h3><%= link_to art.title, art %></h3>
          <p><%= (ActionView::Base.full_sanitizer.sanitize(art.content).truncate(200, omission: '...')).html_safe %></p>
          <div class="post-item-footer">
            <!-- <a class="comments" href="#">13</a> -->
            <%= link_to 'LIRE LA SUITE', art, class: 'more-link' %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="carousel-post-container">
    <div class="post-container scroll-post">
      <h2>Francophonie</h2>
      <ul class="carousel-post">
        <% @francophonie_articles.each do |art| %>
        <li class="post-item">
          <% if art.avatar.present? %>
            <%= link_to image_tag(art.avatar.url(:thumb), size: '184x142'), art %>
          <% else %>
            <%= link_to image_tag("nophoto_slider.png", size: '184x142'), art %>
          <% end %>
          <h3><%= link_to art.title, art %></h3>
          <p><%= (ActionView::Base.full_sanitizer.sanitize(art.content).truncate(200, omission: '...')).html_safe %></p>
          <div class="post-item-footer">
            <!-- <a class="comments" href="#">13</a> -->
            <%= link_to 'LIRE LA SUITE', art, class: 'more-link' %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- End jCarousel Post -->
</div>

<div class="row">
  <div class="span7">
    <%#= render 'concours' if @settings.display_contest %>
  </div>
</div>
<div class="row">
  <div class="span7">
    <%#= render 'last_edition' %>
  </div>
</div>
