<div class="row">
  <div class="span6">
  <% if @main_articles.present? %>
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @main_articles.each_with_index do |art, index| %>
          <div class="item <% if index == 0 %>active<% end %>">
            <%= image_tag art.avatar.url(:slide) if !nil %>
            <div class="carousel-caption">
              <h4 class="sliderLink"><%= link_to (art.title), art if !nil %></h4>
              <p>auteur: <%= raw art.author_list.map { |t| link_to t, author_path(t) }.join(', ') %></p>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="page-header"></div>
    <h5>Articles recommandé</h5>
    <% if @recomends.present? %>
      <% for art in @recomends %>
        <div class="span">
          <%= link_to image_tag(art.avatar.url(:thumb), size: "100x100"), article_path(art) %>
          <h6 style="width:100px;"><%= link_to (truncate(art.title, omision: "...", length: 50)), article_path(art) %></h6>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

