<div class="row">
  <div class="span6">
  <% if @main_articles.present? %>
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @main_articles.each_with_index do |art, index| %>
          <div class="item <% if index == 0 %>active<% end %>">
            <% if art.avatar.present? %>
              <%= image_tag art.avatar.url(:slide) if !nil %>
            <% else %>
              <%= image_tag "nophoto_slider.png" %>
            <% end %>
            <div class="carousel-caption">
              <h4 class="sliderLink"><%= link_to (art.title), art if !nil %></h4>
              <p>auteur: <%= raw art.author_list.map { |t| link_to t, author_path(t) }.join(', ') %></p>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  <% end %>
  </div>
</div>
<div class="page-header"></div>
<h4>Articles recommandé</h4>
<div class="row-fluid">
  <% if @recomends.present? %>
  <ul class="thumbnails">
    <% for art in @recomends %>
    <li class="span4">
      <div class="thumbnail">
          <% if art.avatar.present? %>
            <%= link_to image_tag(art.avatar.url(:thumb), size: "170x130"), article_path(art) %>
          <% else %>
            <%= link_to image_tag "nophoto.png" %>
          <% end %>
        <div class="caption">
          <h5><%= truncate(art.title, omision: "...", length: 50) %></h5>
          <p><%= link_to "Lire la suite" %>
            </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <% else %>
    <h5>Il n'y a pas encore d'articles recommandés</h5>
  <% end %>
</div>
