<!DOCTYPE html>
<html>
<head>
  <title>Currier de Moldavie</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container site">
    <div class="page-header">
      <div class="span3 muted pull-right">"Avec l'appui
financier de <a href="http://www.francophonie.org/" target ="_blank">l'OIF"</a>.</div>
      <!-- <div class="logotitle">Courier de Moldavie</div> -->
      <div id="logo">
        <div><%= image_tag 'logo.png', size: "400x70" %></div>
        <h5 id="sublogo">Bulletin de la section moldave de l’Union Internationale de la Presse Francophone
        </h5>
      </div>
    </div>
    <div class="row">
      <span class="pull-left" style="margin-left:30px;">
        <small><div class="date"><%= l Date.today, :format => :long %></div></small>
      </span>
      <span class="pull-right">
        <small><div class="date">www.courrier.md</div></small>
      </span>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#">Particip.md</a> -->
          <div class="nav-collapse">
            <ul class="nav nav-pills">
              <li class=<%= "active" if @class_home %>><%= link_to (t "menu.home"), root_path %></li>
              <li class=<%= "active" if @class_about %>><%= link_to (t "menu.about"), about_path %></li>
              <li class=<%= "active" if @class_articles %>><%= link_to (t "menu.articles"), articles_path %></li>
              <li class=<%= "active" if @class_membres %>><%= link_to (t "menu.membres"), membres_path %></li>
              <li class=<%= "active" if @class_contact %>><%= link_to (t "menu.contacts"), contact_path %></li>
              <li>
                <%= form_for @search, :url => articles_path, html: { class: "navbar-form pull-right" } do |f| %>
                  <div class="field">
                    <%= f.text_field :title_or_content_contains, class: "span2", placeholder: "articles" %><%= f.submit "rechercher", class: "btn btn-inverse" %>
                  </div>
                <% end %>
              </li>
            </ul>
  <!--           <form class="navbar-search pull-left">
              <input type="text" class="search-query" placeholder="Search">
            </form> -->
          </div>
        </div>
      </div>
    </div> <!-- End navbar -->

    <div class="row">
      <div class="span9">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">×</a>
            <%= msg %>
          </div>
        <% end %>
      </div>
      <div class="span6 articles">
        <%= yield %>
        <%= image_tag 'divider.gif', class: "article_divider" %>
        <div class="tag_cloud">
          <h5>Voyez articles par:</h5>
          <% author_cloud Article.author_counts, %w[s m l] do |author, css_class| %>
            <%= link_to author.name, author_path(author.name), class: css_class %>
          <% end %>
        </div>
        <%= image_tag 'divider.gif', class: "article_divider" %>
      </div>
      <div class="span3">
        <!-- <div class=""><%#= raw(lang_links) %></div> -->
        <div class="">La dernière édition de notre journal <br><%= link_to Edition.last.name %></div>
        <%= image_tag 'divider.gif', class: "article_divider" %>
        <% if sticky_article.present? %>
          <h5><%= sticky_article.title %></h5>
          <span class="sticky pull-left">
            <% if sticky_article.avatar.present? %>
              <%= image_tag sticky_article.avatar.url(:thumb), size: "100x100" %>
            <% end %>
          </span>
          <small><%= sanitize truncate(sticky_article.content, omision: "...", length: 1200), :tags => %w(h) %></small>
          <small><%= link_to "lire la suite", article_path(sticky_article) %></small>
        <% end %>
        <%= image_tag 'divider.gif', class: "article_divider" %>
        <div class="tag_cloud">
          <h4>Étiquettes:</h4>
          <% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
        <%= image_tag 'divider.gif', class: "article_divider" %>
        <h4>Les plus vues</h4>
        <ul>
          <% for article in most_viewed_articles %>
          <li>
            <small><%= link_to article.title, article %></small><br>
            <small>Clics: <%= article.views %></small>
          </li>
          <% end %>
        </ul>
        <%= image_tag 'divider.gif', class: "article_divider" %>
      </div>
    </div>
    <div class="page-header"></div>
     <div class="span6">
      <div class="span">
        <ul class="unstyled">
          <li><%= link_to (t "menu.home"), root_path %></li>
        </ul>
      </div>
      <div class="span">
        <ul class="unstyled">
          <li><%= link_to (t "menu.about"), about_path %></li>
        </ul>
      </div>
      <div class="span">
        <ul class="unstyled">
          <li><%= link_to (t "menu.articles"), articles_path %></li>
        </ul>
      </div>
      <div class="span">
        <ul class="unstyled">
          <li><%= link_to (t "menu.membres"), membres_path %></li>
        </ul>
      </div>
      <div class="span">
        <ul class="unstyled">
          <li><%= link_to (t "menu.contacts"), contact_path %></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
