<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:pagetitle) %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="Description" content="Courrier de Moldavie, Bulletin de la section moldave de l’Union Internationale de la Presse Francophone, presse Francophone en Moldavie." />
  <meta name="Keywords" content="courrier de moldavie, presse francophone, union internationale de la presse francophone">

  <meta property="og:title" content="<%= yield(:pagetitle) %>"/>
  <meta property="og:image" content="<%= og_image %>"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:description" content="Courrier de Moldavie, Bulletin de la section moldave de l’Union Internationale de la Presse Francophone, presse Francophone en Moldavie."/>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'> -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Header -->
  <%= render 'layouts/header' %>
  <!-- End Header -->

  <!-- Sub Menu -->
  <%= render 'layouts/submenu' %>
  <!-- End Sub Menu -->


  <div id="container">
    <!-- Content -->
    <%= yield %>
    <!-- End Content -->

    <!-- Sidebar -->
    <div id="sidebar">
      <ul>
        <!-- Popular, Recent and Comments -->
        <li class="masonry">
          <div class="widget-container tabs-widget">
            <ul class="tab-links">
              <li class="active"><a href="#popular-tab">Recommandé</a></li>
              <li><a href="#recent-tab">Récent</a></li>
            </ul>

            <div id="popular-tab">
              <ul>
                <% @recomends.each do |art| %>
                <li>
                  <% if art.avatar.present? %>
                    <%= link_to image_tag(art.avatar.url(:thumb), size: '184x142'), art %>
                  <% else %>
                    <%= link_to image_tag("nophoto_slider.png", size: '184x142'), art %>
                  <% end %>
                  <h3><%= link_to art.title, art %></h3>
                  <span class="data-post"><%= l art.published_at, format: :long %></span>
                </li>
                <% end %>
              </ul>
            </div>

            <div id="recent-tab">
              <ul>
                <% @last_articles.each do |art| %>
                <li>
                  <% if art.avatar.present? %>
                    <%= link_to image_tag(art.avatar.url(:thumb), size: '184x142'), art %>
                  <% else %>
                    <%= link_to image_tag("nophoto_slider.png", size: '184x142'), art %>
                  <% end %>
                  <h3><a href="#"><%= art.title %></a></h3>
                  <span class="data-post">March 25, 2012</span>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <!-- End Popular, Recent and Comments -->

        <!-- Social Networks -->
        <li class="masonry">
          <h3 class="widget-title">RÉSEAUX SOCIAUX</h3>
          <div class="widget-container social-widget">
            <%= link_to image_tag('facebook.png'), 'https://www.facebook.com/CourrierDeMoldavie', target: 'blank' %>
            <%#= link_to image_tag('rss.png'), '#' %>
            <%#= link_to image_tag('youtube.png'), '#' %>
            <%#= link_to image_tag('twitter.png'), '#' %>
            <%#= link_to image_tag('flickr.png'), '#' %>
          </div>
        </li>
        <!-- End Social Networks -->

        <!-- Archives -->
        <li class="masonry">
          <h3 class="widget-title">Editions</h3>
          <div class="widget-container archives-widget">
            <ul>
              <% for edition in @editions %>
                <li><%= link_to "#{edition.name} - #{edition.articles.not_contest.count} articles", edition_path(edition.name) %></li>
              <% end %>
            </ul>
          </div>
        </li>
        <!-- End Archives -->

        <!-- Tags -->
        <li class="masonry">
          <h3 class="widget-title">Étiquettes</h3>
          <div class="widget-container tags-widget">
            <% Tag.all.each do |tag| %>
               <%= link_to tag.name, tag_path(tag.name),
                    class: 'tag-link-17',
                    title: 'Étiquettes',
                    style: 'font-size: 18.1111111111pt;' %>
            <% end %>
          </div>
        </li>
        <!-- End Tags -->
      </ul>
    </div>
    <!-- End Sidebar -->

    <!-- Footer -->
    <div id="footer">
      <div id="top-button">
        <a href="#top" title="Back To Top">Top ↑</a>
      </div>

      <ul>
        <li>
          <h3 class="widget-title">Text widget</h3>
          <div class="widget-container">
            <p>Donec faucibus dictum ipsum vel laoreet. Sed convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non consectetur leo. Phasellus insap tempus ipsum. Donec metus dui, fermentum blandit rutrum volutpat, commodo et libero.</p>
          </div>
        </li>
        <li>
          <h3 class="widget-title">Photos on Flickr</h3>
          <div class="widget-container flickr-widget">
            <a href="#"><img alt="" src="upload/flickr-1.jpg"></a>
            <a href="#"><img alt="" src="upload/flickr-2.jpg"></a>
            <a href="#"><img alt="" src="upload/flickr-3.jpg"></a>
            <a href="#"><img alt="" src="upload/flickr-4.jpg"></a>
            <a href="#"><img alt="" src="upload/flickr-5.jpg"></a>
            <a href="#"><img alt="" src="upload/flickr-6.jpg"></a>
          </div>
        </li>
        <li>
          <h3 class="widget-title">Latest Tweets</h3>
          <div class="widget-container twitter-widget">
            <ul>
              <li>
                <p><a href="#">about 815 days ago</a> we were checking out 55 Spectacular Login Form Designs: <a href="#">http://bit.ly/8b0wO4</a></p>
              </li>
              <li>
                <p><a href="#">about 815 days ago</a> we were checking out 20 Beautiful Website Design Tutorials <a href="#">http://bit.ly/8b0wO4</a></p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- End Footer -->

    <!-- Copyright-->
    <div id="copyright">
      &copy; 2011 Powered By <a href="http://www.nextwpthemes.com">NextWPThemes</a>
    </div>
    <!-- Copyright-->

    <div class="space-container"></div>
  </div>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.superfish.js"></script>
  <script type="text/javascript" src="js/jquery.flexslider.js"></script>
  <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
  <script type="text/javascript" src="js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22384683-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
